@inherits UmbracoViewPage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro"></div>
                <div class="text">
                    @Umbraco.Field("oNasArtykul")
                </div>
            </div>
        </div>
    </div>
</div>
