@inherits UmbracoViewPage
<div class="footer-basic">
    <footer>
        <div class="social"><a href="@Umbraco.Field("facebookLink", recursive: true)"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li><a href="/">Strona Główna </a></li>
            <li><a href="/Samochód">Samochód </a></li>
            <li><a href="/Nieruchomości">Nieruchomości </a></li>
            <li><a href="/Firma">Firma</a></li>
            <li><a href="/Życie">Życie</a></li>
            <li><a href="/Kontakt">Kontakt</a></li>
        </ul>
        <p class="copyright">ePorównaj Sp. z o.o. © 2017</p>
    </footer>
</div>
