<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT car ANY>
<!ATTLIST car id ID #REQUIRED>
<!ELEMENT company ANY>
<!ATTLIST company id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT life ANY>
<!ATTLIST life id ID #REQUIRED>
<!ELEMENT profile ANY>
<!ATTLIST profile id ID #REQUIRED>
<!ELEMENT property ANY>
<!ATTLIST property id ID #REQUIRED>
]>
<root id="-1">
  <home id="1089" key="bc8b1830-80ba-4472-bd33-d7de69f5144c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-03-02T10:56:26" updateDate="2018-03-02T11:06:07" nodeName="Strona Glowna" urlName="strona-glowna" path="-1,1089" isDoc="" nodeType="1085" creatorName="Admin" writerName="Admin" writerID="0" template="1064" nodeTypeAlias="home" isPublished="true">
    <naglowekZajawka><![CDATA[Pozwól nam dokonać analizę rynku, aby zaoszczędzić Twój czas i pieniądze.]]></naglowekZajawka>
    <naglowekTytul><![CDATA[Wybór należy do Ciebie!]]></naglowekTytul>
    <firmaZajawka><![CDATA[Pork loin beef corned beef, tongue andouille cow salami flank jerky. Swine picanha pork tri-tip pork belly bacon. Porchetta prosciutto burgdoggen, turkey ham rump chicken ham hock corned beef.]]></firmaZajawka>
    <inwestycjeZajawka><![CDATA[Pork loin beef corned beef, tongue andouille cow salami flank jerky. Swine picanha pork tri-tip pork belly bacon. Porchetta prosciutto burgdoggen, turkey ham rump chicken ham hock corned beef.]]></inwestycjeZajawka>
    <zycieZajawka><![CDATA[Pork loin beef corned beef, tongue andouille cow salami flank jerky. Swine picanha pork tri-tip pork belly bacon. Porchetta prosciutto burgdoggen, turkey ham rump chicken ham hock corned beef.]]></zycieZajawka>
    <opinieZajawka><![CDATA[Pork loin beef corned beef, tongue andouille cow salami flank jerky. Swine picanha pork tri-tip pork belly bacon.]]></opinieZajawka>
    <nieruchomosciZajawka><![CDATA[Pork loin beef corned beef, tongue andouille cow salami flank jerky. Swine picanha pork tri-tip pork belly bacon. Porchetta prosciutto burgdoggen, turkey ham rump chicken ham hock corned beef.]]></nieruchomosciZajawka>
    <samochodZajawka><![CDATA[Pork loin beef corned beef, tongue andouille cow salami flank jerky. Swine picanha pork tri-tip pork belly bacon. Porchetta prosciutto burgdoggen, turkey ham rump chicken ham hock corned beef.]]></samochodZajawka>
    <pozycja1Zdjecie><![CDATA[umb://media/f3305e3073824c8b91c0b483e3b3d2ea]]></pozycja1Zdjecie>
    <pozycja2StanowiskoOrazFirma><![CDATA[KFC]]></pozycja2StanowiskoOrazFirma>
    <pozycja3ImieINazwisko><![CDATA[Adam Zieliński]]></pozycja3ImieINazwisko>
    <pozycja2Zdjecie><![CDATA[umb://media/f3305e3073824c8b91c0b483e3b3d2ea]]></pozycja2Zdjecie>
    <pozycja3Opinia><![CDATA[UWAGA! Zdjęcie powinno posiadać wymiary o proporcji 1:1. W przeciwnym wypadku wpłynie to negatywnie na wygląd strony.]]></pozycja3Opinia>
    <pozycja2Opinia><![CDATA[UWAGA! Zdjęcie powinno posiadać wymiary o proporcji 1:1. W przeciwnym wypadku wpłynie to negatywnie na wygląd strony.]]></pozycja2Opinia>
    <pozycja1ImieINazwisko><![CDATA[Jan Nowak]]></pozycja1ImieINazwisko>
    <pozycja1Opinia><![CDATA[UWAGA! Zdjęcie powinno posiadać wymiary o proporcji 1:1. W przeciwnym wypadku wpłynie to negatywnie na wygląd strony.]]></pozycja1Opinia>
    <pozycja3StanowiskoOrazFirma><![CDATA[PizzaHut]]></pozycja3StanowiskoOrazFirma>
    <pozycja1StanowskoOrazFirma><![CDATA[McDonalds]]></pozycja1StanowskoOrazFirma>
    <pozycja2ImieINazwisko><![CDATA[Ewa Nowak]]></pozycja2ImieINazwisko>
    <pozycja3Zdjecie><![CDATA[umb://media/f3305e3073824c8b91c0b483e3b3d2ea]]></pozycja3Zdjecie>
    <nasiPartnerzy><![CDATA[umb://media/f3305e3073824c8b91c0b483e3b3d2ea,umb://media/f3305e3073824c8b91c0b483e3b3d2ea,umb://media/f3305e3073824c8b91c0b483e3b3d2ea]]></nasiPartnerzy>
    <numerTelefonu><![CDATA[0123 456 789]]></numerTelefonu>
    <kontaktTytul><![CDATA[Skontaktuj się z nami]]></kontaktTytul>
    <facebookLink><![CDATA[https://en-gb.facebook.com/]]></facebookLink>
    <car id="1090" key="84416bc1-c053-4704-b9aa-864d3c2954c4" parentID="1089" level="2" creatorID="0" sortOrder="0" createDate="2018-03-02T10:56:26" updateDate="2018-03-02T10:57:24" nodeName="Samochód" urlName="samochód" path="-1,1089,1090" isDoc="" nodeType="1082" creatorName="Admin" writerName="Admin" writerID="0" template="1061" nodeTypeAlias="car" isPublished="true">
      <oNasArtykul><![CDATA[<h2>Aliquam In Arcu</h2>
<p>Sed lobortis mi. Suspendisse vel placerat ligula.<span> </span><span>Vivamus</span><span> </span>ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
<p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus.<span> </span><strong>Ut vehicula rhoncus</strong>elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit<span> </span><em>pulvinar dict</em><span> </span>vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>]]></oNasArtykul>
    </car>
    <article id="1091" key="7943c7b2-67c3-4771-b963-3a12ea96787e" parentID="1089" level="2" creatorID="0" sortOrder="1" createDate="2018-03-02T10:56:26" updateDate="2018-03-02T10:57:28" nodeName="O nas" urlName="o-nas" path="-1,1089,1091" isDoc="" nodeType="1081" creatorName="Admin" writerName="Admin" writerID="0" template="1060" nodeTypeAlias="article" isPublished="true">
      <oNasArtykul><![CDATA[<h2>Aliquam In Arcu</h2>
<p>Sed lobortis mi. Suspendisse vel placerat ligula.<span> </span><span>Vivamus</span><span> </span>ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
<p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus.<span> </span><strong>Ut vehicula rhoncus</strong>elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit<span> </span><em>pulvinar dict</em><span> </span>vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
<h2>Aliquam In Arcu</h2>
<p>Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
<p><img style="width: 320px; height: 320px; display: block; margin-left: auto; margin-right: auto;" src="/media/1001/3.jpg?width=320&amp;height=320" alt="" data-udi="umb://media/bc0a60181542483591317dd6d25fc166" /></p>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>]]></oNasArtykul>
      <profile1AdresEmail><![CDATA[jmskoczylas@gmail.com]]></profile1AdresEmail>
      <profile1NumerTelefonu><![CDATA[07986002016]]></profile1NumerTelefonu>
      <profile1OMnie><![CDATA[Kilka słów o mnie.]]></profile1OMnie>
      <profile1Stanowisko><![CDATA[.Net Developer]]></profile1Stanowisko>
      <profil1ImieINazwisko><![CDATA[Jan Skoczylas]]></profil1ImieINazwisko>
      <profile1Zdjecie><![CDATA[umb://media/bc0a60181542483591317dd6d25fc166]]></profile1Zdjecie>
      <profile2NumerTelefonu><![CDATA[0123 456 789]]></profile2NumerTelefonu>
      <profile2OMnie><![CDATA[Kilka słow...]]></profile2OMnie>
      <profile2AdresEmail><![CDATA[mdelikat@gmail.com]]></profile2AdresEmail>
      <profile2Zdjecie><![CDATA[umb://media/bc0a60181542483591317dd6d25fc166]]></profile2Zdjecie>
      <profile2Stanowisko><![CDATA[CEO]]></profile2Stanowisko>
      <profile2ImieINazwisko><![CDATA[Mateusz Delikat]]></profile2ImieINazwisko>
    </article>
    <property id="1092" key="64b934cb-c1f1-4b25-a415-ef3af79ad5fd" parentID="1089" level="2" creatorID="0" sortOrder="2" createDate="2018-03-02T10:56:26" updateDate="2018-03-02T10:57:33" nodeName="Nieruchomości" urlName="nieruchomości" path="-1,1089,1092" isDoc="" nodeType="1088" creatorName="Admin" writerName="Admin" writerID="0" template="1067" nodeTypeAlias="property" isPublished="true">
      <oNasArtykul><![CDATA[<h2>Aliquam In Arcu</h2>
<p>Sed lobortis mi. Suspendisse vel placerat ligula.<span> </span><span>Vivamus</span><span> </span>ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
<p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus.<span> </span><strong>Ut vehicula rhoncus</strong>elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit<span> </span><em>pulvinar dict</em><span> </span>vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>]]></oNasArtykul>
    </property>
    <company id="1093" key="657182ba-c092-4c2d-b1c6-e5dabca8026c" parentID="1089" level="2" creatorID="0" sortOrder="3" createDate="2018-03-02T10:56:26" updateDate="2018-03-02T10:57:35" nodeName="Firma" urlName="firma" path="-1,1089,1093" isDoc="" nodeType="1083" creatorName="Admin" writerName="Admin" writerID="0" template="1062" nodeTypeAlias="company" isPublished="true">
      <oNasArtykul><![CDATA[<h2>Aliquam In Arcu</h2>
<p>Sed lobortis mi. Suspendisse vel placerat ligula.<span> </span><span>Vivamus</span><span> </span>ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
<p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus.<span> </span><strong>Ut vehicula rhoncus</strong>elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit<span> </span><em>pulvinar dict</em><span> </span>vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>]]></oNasArtykul>
    </company>
    <life id="1094" key="203b001e-a04b-4e36-ac2e-df4d661c250d" parentID="1089" level="2" creatorID="0" sortOrder="4" createDate="2018-03-02T10:56:26" updateDate="2018-03-02T10:57:38" nodeName="Życie" urlName="życie" path="-1,1089,1094" isDoc="" nodeType="1086" creatorName="Admin" writerName="Admin" writerID="0" template="1066" nodeTypeAlias="life" isPublished="true">
      <oNasArtykul><![CDATA[<h2>Aliquam In Arcu</h2>
<p>Sed lobortis mi. Suspendisse vel placerat ligula.<span> </span><span>Vivamus</span><span> </span>ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
<p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus.<span> </span><strong>Ut vehicula rhoncus</strong>elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit<span> </span><em>pulvinar dict</em><span> </span>vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>]]></oNasArtykul>
    </life>
    <contact id="1095" key="016ea452-c75d-4c1a-9e05-45460320d10c" parentID="1089" level="2" creatorID="0" sortOrder="5" createDate="2018-03-02T10:56:26" updateDate="2018-03-02T10:57:43" nodeName="Kontakt" urlName="kontakt" path="-1,1089,1095" isDoc="" nodeType="1084" creatorName="Admin" writerName="Admin" writerID="0" template="1063" nodeTypeAlias="contact" isPublished="true">
      <oNasArtykul><![CDATA[<h2>Aliquam In Arcu</h2>
<p>Sed lobortis mi. Suspendisse vel placerat ligula.<span> </span><span>Vivamus</span><span> </span>ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
<p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus.<span> </span><strong>Ut vehicula rhoncus</strong>elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit<span> </span><em>pulvinar dict</em><span> </span>vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>]]></oNasArtykul>
    </contact>
  </home>
</root>